<body style = "background-color: #667F63">

<div style="text-align: -webkit-center;" class="mt-3 p-3 text-white">
<h5>ENCONTRE AQUI</h5>
 <h1>UM CAMPO PARA JOGAR</h1>
 <%= form_with url: fields_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
     placeholder: "Find a field"
   %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

      <div class="container pb-5 mb-5">
        <div class="row">
            <% @fields.each do |field| %>
            <div class="col-4 mt-3">
                <div class="card" style="width: 18rem;">
                  <%= cl_image_tag field.photo.key, height: 250, width: 250, class:"card-img-top" %>
                  <div class="card-body">
                    <h5 class="card-title"><%= field.name %></h5>
                    <p class="card-text">$ <%= field.price %></p>
                    <%= link_to "More details", field_path(field)%>
                    <p><%= link_to 'Delete', field_path(field), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %></p>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="col-6 mt-3" style="width: 100%; height: 600px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
        </div>
      </div>

</body>
