<%# <body style = "background-color: #667F63"> %>
  <div class="container d-flex p-5 justify-content-center">

    <div class="col">
      <div class="h-100 img-fluid">
       <%= cl_image_tag @field.photo.key, height: 550, width: 400 %>
      </div>
    </div>

    <div class = "col text-center">
      <h1 class = "text-uppercase pt-3"><%= @field.name%></h1>
      <p class= 'fs-4'><strong>$<%= @field.price %></strong></p>
      <p class= 'fs-4'><%= @field.address %></p>
      <p class= 'fs-4'><%= @field.number_of_players %> players</p>
      <div class="ms-5 me-5 p-5">
        <%= simple_form_for [@field, @booking], data: { controller: 'flatpickr' } do |f| %>
          <%= f.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
          <%= f.input :end_time, as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' } %>
          <%= f.submit 'Reserve your spot' %>
        <% end %>
        <br>
        <%= link_to "Back to Index", fields_path  %>
      </div>
    </div>

  </div>
<%# </body> %>
